
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon List</h2>
                </div>
                <div>
                    
                    <a href="/admin/coupon-add" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." id="search" name="search" onchange="filter()" class="form-control">
                        </div>
                        <div  class=" text-danger">
                        <h4 class=" text-danger">{{message}}</h4>
                        </div>
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                {{!-- <input class="form-check-input" type="checkbox" value=""> --}}
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            {{!-- <select class="form-select">
                                <option selected>All category</option>
                                {{#each categories}}
                                <option value="{{this.category._id}}">{{this.category.name}}</option>
                                {{/each}}
                            </select> --}}
                        </div>
                        

                        <!--
                            <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        -->
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <style>.table td,.table th {vertical-align: middle;}</style>    
                            <thead>
                                <tr>
                                    <th scope="col">Coupon Code</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Max Amount</th>
                                    <th scope="col">Min Amount</th>
                                    <th scope="col">Expiry Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                {{#each coupons}}

                                    <tr onclick="window.location.href = 'coupon-edit?_id={{this._id}}';"> 
                                    <td><b>{{this.code}}</b></td>
                                    <td>Rs. {{this.discount}}</td>
                                    <td>Rs. {{this.maxAmount}}</td>
                                    <td>Rs. {{this.minAmount}}</td>
                                    <td>{{dateFormat this.expiryDate}}</td>
                                    {{#if used}}
                                            <td><span id="{{this._id}}" class="badge rounded-pill alert-danger">Expired</span></td>
                                            <td>
                                                <a  id="btn{{this._id}}" href="coupon-delete/{{this._id}}" class="btn btn-md rounded font-sm">Delete Forever</a>
                                            </td>
                                    {{else}}
                                            {{#if status}}
                                            <td><span id="{{this._id}}" class="badge rounded-pill alert-success">Active</span></td>
                                            <td>
                                                <a  id="btn{{this._id}}" href="coupon-block/{{this._id}}" class="btn btn-md rounded font-sm">Disable</a>
                                            </td>
                                            {{else}}
                                            <td><span id="{{this._id}}"  class="badge rounded-pill alert-warning">Inactive</span></td>
                                            <td>
                                                <a  id="btn{{this._id}}" href="coupon-unblock/{{this._id}}" class="btn btn-md rounded font-sm">Enable</a>
                                            </td>                        
                                            {{/if}}
                                    {{/if}}
                                    
                                </tr>
                {{/each}}            
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->

            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start" id="page">
                        
                    </ul>
                </nav>
            </div>
        </section> 
        
<script>
    document.addEventListener("DOMContentLoaded",filter(1))


    async function filter(page){
    let data={}
    data.page=page
    data.search=document.getElementById('search').value
    data.limit=5
    console.log(page)
    
    const res=await fetch('/admin/coupon-filter',{
        method:'POST',
        headers:{
            'Content-Type':'application/json'
        },
        body: JSON.stringify(data)
    })
    if(res.status==200){

        let {overall,coupons,pages,page,count} = await res.json();
        if(!page){
            page=1
        }
        console.log(coupons,count,page,pages);
        updateOrderTiles(coupons,count,page,pages);
        
    }
    else{
        throw new Error
    }



}


function generateOrder(order){
    const createdAtDate = new Date(order.expiryDate);
    const day = String(createdAtDate.getDate()).padStart(2, '0');
    const month = String(createdAtDate.getMonth() + 1).padStart(2, '0'); // January is 0!
    const year = createdAtDate.getFullYear();
    const formattedDate = `${day}-${month}-${year}`;
    let details= `                <tr onclick="window.location.href = 'order-edit?_id=${order._id}';">
                                <td>${order.code}</td>
                                <td><b>${order.discount}</b></td>
                                <td>Rs. ${order.maxAmount}</td>
                                <td>Rs. ${order.minAmount}</td>
                                <td>${formattedDate}</td>
                                `
        if(order.used){
            details+=`<td><span id="{{this._id}}" class="badge rounded-pill alert-danger">Expired</span></td>
                                            <td>
                                                <a  id="btn${order._id}" href="coupon-delete/${order._id}" class="btn btn-md rounded font-sm">Delete Forever</a>
                                            </td>`
        }
        else{

            if(order.status)
            {
                details+=`<td><span id="{{this._id}}" class="badge rounded-pill alert-success">Active</span></td>
                                            <td>
                                                <a  id="btn${order._id}" href="coupon-block/${order._id}" class="btn btn-md rounded font-sm">Disable</a>
                                            </td>`
            }
            else{
                details+=`<td><span id="{{this._id}}"  class="badge rounded-pill alert-warning">Inactive</span></td>
                                            <td>
                                                <a  id="btn${order._id}" href="coupon-unblock/${order._id}" class="btn btn-md rounded font-sm">Enable</a>
                                            </td>   `
            }


        }

        details+=`
                                            
                            </tr>`
        return details
}

function orderPagination(page,pages){
    let data=`<li class="page-item"><a class="page-link"  onclick="filter(1)"><i class="material-icons md-chevron_left"></i></a></li>`
    for(i=1;i<=pages;i++){
        if(i==page){
            data+=`<li class="page-item active"><a class="page-link" onclick="filter(${i})">${i}</a></li>`
        }
        else{
            data+= `<li class="page-item"><a class="page-link"  onclick="filter(${i})">${i}</a></li>`
        }
    }
    data+=`<li class="page-item"><a class="page-link"  onclick="filter(${pages})"><i class="material-icons md-chevron_right"></i></a></li>`
            // <li class="page-item"><a class="page-link"  onchange="filter()">03</a></li>
            // <li class="page-item"><a class="page-link dot"  onchange="filter()">...</a></li>
            // <li class="page-item"><a class="page-link"  onchange="filter()">16</a></li>
            // <li class="page-item"><a class="page-link"  onchange="filter()"><i class="material-icons md-chevron_right"></i></a></li>`
    return data
}

function updateOrderTiles(coupons,count,page,pages) {
    const orderContainer = document.getElementById('tableBody');
    const paginationContainer = document.getElementById('page');

    //document.getElementById('founded').innerText=count
    // Clear previous content
    orderContainer.innerHTML = '';
    // Generate and append HTML markup for each product
    coupons.forEach(order => {
        const orderTileHTML = generateOrder(order);
        orderContainer.insertAdjacentHTML('beforeend', orderTileHTML);
    });
    paginationContainer.innerHTML=''
    if(pages!=0){
        paginationContainer.insertAdjacentHTML('beforeend', orderPagination(page,pages));
    }

}



</script>
        <!-- content-main end// -->
<!--
        <script>
            const badgeElement = document.getElementById(productId);
            const buttonElement = document.getElementById('btn' + productId);
            function dltProduct(_id){
                console.log(_id)
                fetch('/admin/product-block', {
                    method: 'POST',
                    headers:{
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify([_id])
                        })
                        .then(res=>{
                            document.getElementById(`${_id}`).style.display="none"
                            document.getElementById(`btn${_id}`).style.display="none"
                            res.json()
                            })
                            .then(data=>console.log(data))
                            .catch(error=>{console.log(error)})
    }

    function actProduct(_id){
                console.log(_id)
        fetch('/admin/product-unblock', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify([_id])
    })
    .then(res=>{
        res.json()
        document.getElementById(`${_id}`).style.display="none"
        document.getElementById(`btn${_id}`).style.display="none"


    })
    .then(data=>console.log(data))
    .catch(error=>{console.log(error)})
    }
        </script>

        -->

