        <section class="content-main">
            <form id="form" action="/admin/product-add" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <!--
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            -->
                            <button class="btn btn-md rounded font-sm hover-up" type="submit" >Save</button>
                            
                        </div>
                        
                    </div>
                    <div  class=" text-danger">
                        <h4 class=" text-danger">{{message}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product SKU</label>
                                        <p class="error-message" style="color: red;" id="skuError"></p>
                                        <input name="sku" id="sku" type="text" placeholder="Type here" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Product name</label>
                                        <p class="error-message" style="color: red;" id="nameError"></p>

                                        <input name="name" id="name" type="text" placeholder="Type here" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                      <p class="error-message" style="color: red;" id="descriptionError"></p>

                                        <textarea name="description" id="description" placeholder="Type here" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <p class="error-message" style="color: red;" id="brandError"></p>

                                        <select class="form-select" name="brand" id="brand">
                                        <option value=""></option>

                                            {{#each brands}}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label" >MRP</label>
                                        <p class="error-message" style="color: red;" id="mrpError"></p>
                                        <input type="text" placeholder="Rs. " name="mrp" id="mrp" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Selling Price</label>
                                        <p class="error-message" style="color: red;" id="spError"></p>
                                        <input type="text" placeholder="Rs. " name="sp" id="sp" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Stock</label>
                                        <p class="error-message" style="color: red;" id="stockError"></p>
                                        <input type="text" placeholder="" name="stock" id="stock" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4" name="category">
                                        <label class="form-label">Category</label>
                                         <p class="error-message" style="color: red;" id="categoryError"></p>

                                        <select class="form-select" name="category" id="category">
                                            <option value=""></option>
                                            {{#each categories}}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-check" style="display: none;">
                                            <input type="checkbox" name="imgUpdate"  class="form-check-input" value="1" checked >
                                            <span class="form-check-label">Update Images</span>
                                        </label>
                                        <label class="form-label">Images</label>
                                        <p class="error-message" style="color: red;" id="imagesError"></p>
                                        <input class="form-control" type="file" name="images" id="images" onchange="previewImages()" accept="image/*" multiple>
                                        <div id="image-preview-container"></div>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </form>

        </section> <!-- content-main end// -->

        <script src="../admin/assets/js/productval.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script>
        const imageInputs = document.querySelectorAll('input[type="file"]');
        imageInputs.forEach(input => {
            input.addEventListener('change', function() {
                const file = input.files[0];
                const reader = new FileReader();
                reader.onload = function(e) {
                    const image = new Image();
                    image.src = e.target.result;
                    image.onload = function() {
                        const cropper = new Cropper(image, {
                            aspectRatio: 1 / 1,
                            viewMode: 2,
                            zoomable: false,
                        });
                        const container = input.parentElement.querySelector('#image-preview-container');
                        container.appendChild(cropper.getCroppedCanvas());
                    };
                };
                reader.readAsDataURL(file);
            });
        });
    </script>
        <script>
            function removeImage(filename){
                let data={}
                data.filename=filename
                fetch('/admin/remove-image', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                updateImages(data.images)
            })
            .catch(error => console.error('Error:', error));


            }
        function previewImages() {
            var files = document.getElementById('images').files;
            var formData = new FormData();

            for (var i = 0; i < files.length; i++) {
                formData.append('images', files[i]);
            }


            fetch('/admin/image-add', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                updateImages(data.images)
            })
            .catch(error => console.error('Error:', error));
        }
        function updateImages(data){
            let container = '';
                for (let i in data) {
                    let previewWrapper = `
                        <div class="preview-wrapper">
                            <img src="/images/${data[i]}" class="preview-image">
                            <button class="btn btn-sm btn-danger mt-2 remove-button" onclick="removeImage('${data[i]}')">Remove</button>
                        </div>
                    `;
                    container += previewWrapper;
                }

                var previewContainer = document.getElementById('image-preview-container');
                previewContainer.innerHTML = container; // Use innerHTML to set the HTML content
        }

        
</script>

