
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                </div>
                <div>
                    
                    <a href="/admin/product-add" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." id="search" name="search" onchange="filter()" class="form-control">
                        </div>
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-2 col-12 me-auto mb-md-0 mb-3">
                            <select onchange="filter()"  class="form-select" id="category">
                                <option selected>All categories</option>
                                {{#each categories}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-2 col-12 me-auto mb-md-0 mb-3">
                            <select onchange="filter()"  class="form-select" id="brand">
                                <option selected>All brands</option>
                                {{#each brands}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        

                        <!--
                            <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        -->
                        <div class="col-md-2 col-6">
                            <select onchange="filter()"  class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-1 col-md-1 col-6">
                            <select onchange="filter()" id="limit" name="limit"  class="form-select">
                                <option value="10">Show 10</option>
                                <option value="20">Show 20</option>
                                <option value="30">Show 30</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <style>.table td,.table th {vertical-align: middle;}</style>    
                            <thead>
                                <tr>
                                    <th scope="col">SKU#</th>
                                    <th scope="col">Image</th>

                                    <th scope="col">Name</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col">Stocks</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"> Action </th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                {{!-- {{#each products}}

                                    <tr onclick="window.location.href = 'product-edit?id={{this._id}}';">
                                    <td><b>{{this.sku}}</b></td>
                                    <td style="max-width: 40px;"><img src="/images/{{this.images.[0]}}" alt="product image"></td>
                                    <td>{{this.name}}</td>
                                    <td>Rs. {{this.sp}}</td>
                                    <td>{{this.stock}}</td>
                                    {{#if delete}}
                                    <td><span id="{{this._id}}"  class="badge rounded-pill alert-danger">Deleted</span></td>
                                    <td>
                                        <a  id="btn{{this._id}}" href="product-unblock/{{this._id}}" class="btn btn-md rounded font-sm">Activate</a>
                                    </td>
                                    {{else}}
                                    <td><span id="{{this._id}}" class="badge rounded-pill alert-success">Active</span></td>
                                    <td>
                                        <a  id="btn{{this._id}}" href="product-block/{{this._id}}" class="btn btn-md rounded font-sm">Delete</a>
                                    </td>
                                    {{/if}}
                                </tr>
                {{/each}}             --}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->

              
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start" id="page">
                        
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
<!--
        <script>
            const badgeElement = document.getElementById(productId);
            const buttonElement = document.getElementById('btn' + productId);
            function dltProduct(_id){
                console.log(_id)
                fetch('/admin/product-block', {
                    method: 'POST',
                    headers:{
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify([_id])
                        })
                        .then(res=>{
                            document.getElementById(`${_id}`).style.display="none"
                            document.getElementById(`btn${_id}`).style.display="none"
                            res.json()
                            })
                            .then(data=>console.log(data))
                            .catch(error=>{console.log(error)})
    }

    function actProduct(_id){
                console.log(_id)
        fetch('/admin/product-unblock', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify([_id])
    })
    .then(res=>{
        res.json()
        document.getElementById(`${_id}`).style.display="none"
        document.getElementById(`btn${_id}`).style.display="none"


    })
    .then(data=>console.log(data))
    .catch(error=>{console.log(error)})
    }
        </script>

        -->

<script src="../admin/assets/js/productFilter.js"></script>
