        {{#each products}}
        <section class="content-main">
            <form  id="form" action="/admin/product-edit?id={{this._id}}" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <h3>
                        <span class="form-check-label text-danger">Delete: </span>
                        <input type="checkbox" name="softdel" class="form-check-input text-danger " {{#if delete}} checked {{/if}} >
                        </h3>
                        
                        <div>
                            <!--
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            -->
                            <button id="submit" class="btn btn-md rounded font-sm hover-up" type="submit" >Save</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product name</label>
                                       <p class="error-message" style="color: red;" id="nameError"></p>

                                        <input name="name" id="name" type="text" value="{{this.name}}" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <p class="error-message" style="color: red;" id="descriptionError"></p>
                                        <textarea name="description" id="description" class="form-control" rows="4">{{this.description}}</textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <p class="error-message" style="color: red;" id="brandError"></p>
                                        <select class="form-select" id="brand" name="brand">
                                            <option value="{{this.brand._id}}">{{this.brand.name}}</option>
                                            {{#each ../brands}}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>

                                        

                                        
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label" >MRP</label>
                                        <p class="error-message" style="color: red;" id="mrpError"></p>
                                        <input type="text" value="{{this.mrp}}" id="mrp" name="mrp" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Selling Price</label>
                                        <p class="error-message" style="color: red;" id="spError"></p>
                                        <input type="text" value="{{this.sp}}" id="sp" name="sp" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4" >
                                        <label class="form-label">Category</label>
                                        <select class="form-select" id="category" name="category">
                                            <p class="error-message" style="color: red;" id="categoryError"></p>
                                            <option value="{{this.category._id}}">{{this.category.name}}</option>
                                            {{#each ../categories}}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                                
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <p class="error-message" style="color: red;" id="imagesError"></p>
                                        <input class="form-control" type="file" name="images" id="images" accept="image/*" multiple>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
            </div>



            </form>

        </section> <!-- content-main end// -->
 {{/each}}
        <script src="/assets/js/productval.js"></script>
