
    <!-- dashboard Secton Start  -->
    <div class="dashboard section">
      <div class="container">
        <div class="row dashboard__content">
          
          {{> navbar}}
          
          
          <div class="col-lg-9 section--xl pt-0">
            <div style="margin-left: 20px;" class="container d-flex flex-wrap">
              <a href="/address-add">
                <div class="button button--lg button-- w-100">
                    Create New Address
                  </div>
                  </a>
            </div>
  <div class="container d-flex flex-wrap">
    {{#each addrs}}
    <div class="col-lg-5" style="padding: 20px;">
      <div class="dashboard__user-billing dashboard-card">
        <h2 class="dashboard__user-billing-title font-body--md-500">
          {{#if this.default}}Default Address{{/if}} 
        </h2>
        <div class="dashboard__user-billing-info">
          <h5 class="dashboard__user-billing-name font-body--xl-500">
            {{this.name}}
          </h5>
          <p class="dashboard__user-billing-location font-body--md-400">
            {{this.addr1}}, {{this.addr2}}, {{this.city}}, {{this.state}}, {{this.country}}, {{this.pincode}} <br> {{this.mark}} 
          </p>
          <p class="dashboard__user-billing-email font-body--lg-400">
            {{this.email}}
          </p>
          <p class="dashboard__user-billing-number font-body--lg-400">
            {{this.phone}}
          </p>
          <p class="dashboard__user-billing-location font-body--md-400">
            {{#if this.type}} Home {{else}} Office {{/if}}
          </p>
        </div>
        <a href="address-edit?_id={{this._id}}" class="dashboard__user-billing-editaddress font-body--lg-500">
          Edit address
        </a>
        <a style="margin-left: 20px;" href="address-delete?_id={{this._id}}" class="dashboard__user-billing-editaddress font-body--lg-500 text-danger">
          Delete address
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>

        </div>
      </div>
    </div>
