    <!-- Shopping Cart Section Start   -->
    <section class="shoping-cart section section--xl">
      <div class="container">
        <div class="section__head justify-content-center">
          <h2 class="section--title-four font-title--sm">My Shopping Cart</h2>
        </div>
        <div class="row shoping-cart__content">
          
          {{#if cartempty}}
          

          <div style="text-align: center;margin-top:30px;color:red">
            Cart is empty..!!
          </div>



          {{else}}

          <div class="col-lg-8">
            <div class="cart-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="cart-table-title">Product</th>
                      <th scope="col" class="cart-table-title">Price</th>
                      <th scope="col" class="cart-table-title">quantity</th>
                      <th scope="col" class="cart-table-title">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each carts.items}}
                    <tr>
                      <!-- Product item  -->
                      <td class="cart-table-item align-middle">
                        <a
                          href="product?_id={{this.product._id}}"
                          class="cart-table__product-item"
                        >
                          <div class="cart-table__product-item-img" style="width: 300px;height: 50px; ">
                            <img
                              src="images/{{this.product.images.[0]}}"
                              alt="product"
                              style="width: 100%;height: 100%"
                        
                            />
                          </div>
                          <h5 class="font-body--lg-400">{{this.product.name}}</h5>
                        </a>
                      </td>
                      <!-- Price  -->
                      <td class="cart-table-item order-date align-middle">
                        Rs. {{this.product.sp}}
                      </td>
                      <!-- quantity -->
                      <td class="cart-table-item order-total align-middle">
                        <div class="counter-btn-wrapper products__content-action-item" style="margin-left: 10px; transform: scale(.8)">
                          <button class="counter-btn-dec counter-btn" onclick="removeFromCart('{{this.product._id}}')">-</button>
                          <p id="counter-btn-counter-{{this.product._id}}" class="counter-btn-counter" style="margin-left: 10px;">{{this.qty}}</p>
                          <button class="counter-btn-inc counter-btn" onclick="addToCart('{{this.product._id}}')">+</button>
                        </div>
                        <div class="text-danger" id="errmsg-{{this.product._id}}" >
                          
                        </div>
                      </td>

                      <!-- Subtotal  -->
                      <td class="cart-table-item order-subtotal align-middle">
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <p class="font-body--md-500" id="subtotal-{{this.product._id}}">Rs. {{this.subtotal}}</p>
                          <a href="/deleteFromCart?_id={{this.product._id}}">
                            <button class="delete-item">
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                                stroke="#CCCCCC"
                                stroke-miterlimit="10"
                              />
                              <path
                                d="M16 8.5L8 16.5"
                                stroke="#666666"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M16 16.5L8 8.5"
                                stroke="#666666"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <!-- Action Buttons  
              <form action="#">
                <div class="cart-table-action-btn d-flex">
                  <a
                    href="shop-01.html"
                    class="button button--md button--disable shop"
                    >Return to Shop</a
                  >
                  <a href="#" class="button button--md button--disable update"
                    >Update to Cart</a
                  >
                </div>
              </form>-->
            </div>

            <div class="shoping-cart__mobile">
              <div class="shoping-card">
                <div class="shoping-card__img-wrapper">
                  <img
                    src="src/images/products/img-01.png "
                    alt="product-item"
                  />
                </div>
                <h5 class="shoping-card__product-caption font-body--lg-400">
                  Green Apple
                </h5>

                <h6 class="shoping-card__product-price font-body--lg-400">
                  $45.00
                </h6>

                <div class="counter-btn-wrapper">
                  <button
                    class="counter-btn-dec counter-btn"
                    onclick="decrement()"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    id="counter-btn-counter"
                    class="counter-btn-counter"
                    min="0"
                    max="1000"
                    placeholder="0"
                  />
                  <button
                    class="counter-btn-inc counter-btn"
                    onclick="increment()"
                  >
                    +
                  </button>
                </div>
                <h6 class="shoping-card__product-totalprice font-body--lg-600">
                  $225.00
                </h6>
                <button class="close-btn">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 23C18.0748 23 23 18.0748 23 12C23 5.92525 18.0748 1 12 1C5.92525 1 1 5.92525 1 12C1 18.0748 5.92525 23 12 23Z"
                      stroke="#CCCCCC"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M16 8L8 16"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 16L8 8"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
              <div class="shoping-card">
                <div class="shoping-card__img-wrapper">
                  <img
                    src="src/images/products/img-02.png "
                    alt="product-item"
                  />
                </div>
                <h5 class="shoping-card__product-caption font-body--lg-400">
                  Fresh orange
                </h5>

                <h6 class="shoping-card__product-price font-body--lg-400">
                  $45.00
                </h6>

                <div class="counter-btn-wrapper">
                  <button
                    class="counter-btn-dec counter-btn"
                    onclick="decrement()"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    id="counter-btn-counter"
                    class="counter-btn-counter"
                    min="0"
                    max="1000"
                    placeholder="0"
                  />
                  <button
                    class="counter-btn-inc counter-btn"
                    onclick="increment()"
                  >
                    +
                  </button>
                </div>


                <h6 class="shoping-card__product-totalprice font-body--lg-600">
                  $225.00
                </h6>
                <button class="close-btn">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 23C18.0748 23 23 18.0748 23 12C23 5.92525 18.0748 1 12 1C5.92525 1 1 5.92525 1 12C1 18.0748 5.92525 23 12 23Z"
                      stroke="#CCCCCC"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M16 8L8 16"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 16L8 8"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>

              <form action="#">
                <div class="cart-table-action-btn d-flex">
                  <a
                    href="shop-01.html"
                    class="button button--md button--disable shop"
                    >Return to Shop</a
                  >
                  <a href="#" class="button button--md button--disable update"
                    >Update to Cart</a
                  >
                </div>
              </form>
            </div>

            <!-- newsletter  -->
            <div class="newsletter-card">
              <div>
                <h5 class="newsletter-card-title font-body--xxl-500">
                Coupon Code
              </h5>
              <button id="showCouponsBtn" style="font-size: 12px; text-align:center" >Show Coupons</button>
              </div>
              <style>
                /* styles.css */
                    .popup {
                        display: none;
                        position: fixed;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        background-color: rgba(0,0,0,0.4);
                    }

                    .popup-content {
                        background-color: #fefefe;
                        margin: 10% auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 80%;
                    }

                    .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }

              </style>
              <div id="couponsPopup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2>Available Coupons</h2>
            <ul id="couponList"></ul>
        </div>
    </div>
              <form action="/coupon-apply" method="post" >
                <div class="newsletter-card__input">
                  <input type="text" name="code" id="code" placeholder="Enter Code " />
                  <button class="button button--lg" style="z-index: 0;" type="submit">
                    Apply Coupon
                  </button>
                </div>
                <div class="text-danger querymsg" id="querymsg">
                  {{couponmsg}}
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bill-card">
              <div class="bill-card__content">
                <div class="bill-card__header">
                  <h2 class="bill-card__header-title font-body--xxl-500">
                    Order Summary
                  </h2>
                </div>
                <div class="bill-card__body">
                  <!-- memo  -->
                  <div class="bill-card__memo">
                    <!-- Subtotal  -->
                    <div class="bill-card__memo-item subtotal">
                      <p class="font-body--md-400">Subtotal:</p>
                      <span class="font-body--md-500" id="total">Rs. {{carts.subtotal}}</span>
                    </div>
                    {{#if carts.coupon}}
                    <!-- Subtotal  -->
                    <div class="bill-card__memo-item subtotal">
                      <p class="font-body--md-400">Discount: <span style="color: green;">{{carts.coupon.code}}</span></p>
                      <span class="font-body--md-500" id="total">- Rs. {{carts.coupon.discount}} 
                        <a href='coupon-remove/?c_id={{carts.coupon._id}}&cart_id={{carts._id}}' style="color: black;">
                          <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          width="24"
                          height="24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6L6 18M6 6l12 12" />
                        </svg>
                        </a>
                      </span>
                    </div>
                    {{/if}}
                    <!-- Shipping  -->
                    <div class="bill-card__memo-item shipping">
                      <p class="font-body--md-400">Shipping:</p>
                      <span class="font-body--md-500" id="shipping">{{carts.shipping}}</span>
                    </div>
                    <!-- total  -->
                    <div class="bill-card__memo-item total">
                      <p class="font-body--lg-400">Total:</p>
                      <span class="font-body--xl-500" id="incltotal">Rs. {{carts.total}}</span>
                    </div>
                  </div>
                  <a href="/checkout">
                    <button
                      class="button button--lg w-100"
                      style="margin-top: 20px"
                      type="submit"
                    >
                      Place Order
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {{/if}}

          
        </div>
      </div>
    </section>
    <!-- Shopping Cart Section End    -->
    <script src="../user/src/js/cartmanage.js"></script>
    <script src="../user/src/js/coupon.js"></script>
