
    <!-- dashboard Secton Start  -->
    <div class="dashboard section">
      <div class="container">
        <div class="row dashboard__content">
         
         
         
                   {{> navbar}}



          <div class="col-lg-9 section--xl pt-0">
            <div class="container">
              <!-- Order History  -->
              <div class="dashboard__order-history">

                              
                <div class="dashboard__order-history-title">
                  <div>
                  <h2 class="font-body--xxl-500">Order Details</h2>
                  </div>
                  <div>
                          <div class=" button button--outline">
                            <button id="invoice">Download Invoice</button>
                        </div>

                  {{#unless cancel}}

                      {{#if order.delivered}}
                        <div class=" button button--outline">
                            <button id="cancel">Return Products</button>
                        </div>
                      {{else}}
                        <div class=" button button--outline">
                            <button id="cancel">Cancel Order</button>
                        </div>
                      {{/if}}


                  {{/unless}}
                  <a style="margin-left:10px" href="order-list">back to list</a>
                  </div>
                  
                </div>
                <div class="dashboard__details-content text-danger" id="querymsg">{{message}} </div>
                <div class="dashboard__details-content ">{{order.notes}} </div>
                <input type="text" id="_id" value="{{order._id}}" style="display: none;">
                

                <div class="dashboard__details-content">
                  <div class="row">
                    <div class="col-xl-8">
                      <div class="dashboard__details-card">
                        <div class="dashboard__details-card-item">
                          <h5 class="dashboard__details-card-title">
                            Billing Address
                          </h5>
                          <!-- billing Address -->
                          <div class="dashboard__details-card-item__inner">
                            <h2 class="font-body--lg-400 name">
                              {{order.name}}
                            </h2>
                            <p class="font-body--md-400">
                                {{order.addr1}}, {{order.addr2}}, {{order.city}}, {{order.state}}, {{order.country}} - {{order.pincode}}
                            </p>
                          </div>
                          <div class="dashboard__details-card-item__inner">
                            {{#if order.email}}

                            <div
                              class="
                                dashboard__details-card-item__inner-contact
                              "
                            >
                              <h5 class="title">Email</h5>
                              <p class="font-body--md-400">
                                {{this.email}}
                              </p>
                            </div>

                            {{/if}}
                            <div
                              class="
                                dashboard__details-card-item__inner-contact
                              "
                            >
                              <h5 class="title">Phone</h5>
                              <p class="font-body--md-400">{{order.phone}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="dashboard__details-card-item">
                          <h5 class="dashboard__details-card-title">
                            Shipping Address
                          </h5>
                          <!-- Shipping Address -->
                          <div class="dashboard__details-card-item__inner">
                            <h2 class="font-body--lg-400 name">
                              {{order.name}}
                            </h2>
                            <p class="font-body--md-400">
                                {{order.addr1}}, {{order.addr2}}, {{order.city}}, {{order.state}}, {{order.country}} - {{order.pincode}}
                            </p>
                          </div>
                          <div class="dashboard__details-card-item__inner">
                            {{#if order.email}}
                            
                            <div
                              class="
                                dashboard__details-card-item__inner-contact
                              "
                            >
                              <h5 class="title">Email</h5>
                              <p class="font-body--md-400">
                                {{this.email}}
                              </p>
                            </div>
                            {{/if}}


                            <div
                              class="
                                dashboard__details-card-item__inner-contact
                              "
                            >
                              <h5 class="title">Phone</h5>
                              <p class="font-body--md-400">{{order.phone}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="dashboard__totalpayment-card">
                        <div class="dashboard__totalpayment-card-header">
                          <div class="dashboard__totalpayment-card-header-item">
                            <h5 class="title">Order id:</h5>
                            <p class="details order-id">#{{order.order_id}}</p>
                          </div>
                          <div class="dashboard__totalpayment-card-header-item">
                            <h5 class="title">Payment Method:</h5>
                            <p class="details order-id">{{order.paytype}}
                            {{#if cancel}}

                            {{else}}
                                {{#if revise}}
                                <a style="color: red;">Payment Failed</a>
                                <a href="#" onclick="revise(`{{order._id}}`)">Click to revise Payment</a>
                                {{else}}
                                {{/if}}

                            {{/if}}
                          </div>
                        </div>

                        <div class="dashboard__totalpayment-card-body">
                          <div class="dashboard__totalpayment-card-body-item">
                            <h5 class="font-body--md-400">Subtotal:</h5>
                            <p class="font-body--md-500">Rs. {{order.total}}</p>
                          </div>
                          <!--
                          <div class="dashboard__totalpayment-card-body-item">
                            <h5 class="font-body--md-400">Discount:</h5>
                            <p class="font-body--md-500">20%</p>
                          </div>-->
                          <div class="dashboard__totalpayment-card-body-item">
                            <h5 class="font-body--md-400">Shipping:</h5>
                            <p class="font-body--md-500">Free</p>
                          </div>
                          <div
                            class="dashboard__totalpayment-card-body-item total"
                          >
                            <h5 class="font-body--xl-400">Total:</h5>
                            <p class="font-body--xl-500">Rs. {{order.total}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                {{#if cancel}}
                  {{#if order.refunded}}
                            <div class="progress__bar progress__bar-4x">
                        <div class="progress__bar-border">
                          <span class="progress__bar-border-active"></span>
                        </div>


                        <div class="progress__bar-item active">
                          <div class="progress__bar-item-ball">
                            <p
                              class="
                                font-body--md-400
                                count-number count-number-active
                              "
                            >
                              01
                            </p>
                            <span class="check-mark">
                              <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </span>
                          </div>
                          <h2 class="font-body--md-400">Order received</h2>
                        </div><div class="progress__bar-item active">
                          <div class="progress__bar-item-ball">
                            <p
                              class="
                                font-body--md-400
                                count-number count-number-active
                              "
                            >
                              02
                            </p>
                            <span class="check-mark">
                              <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </span>
                          </div>
                          <h2 class="font-body--md-400">Return Requested</h2>
                        </div>
                        <div class="progress__bar-item active">
                          <div class="progress__bar-item-ball">
                            <p class="font-body--md-400 count-number">03</p>
                          </div>
                          <h2 class="font-body--md-400">Return Approved</h2>
                        </div>
                        <div class="progress__bar-item active">
                          <div class="progress__bar-item-ball">
                            <p
                              class="
                                font-body--md-400
                                count-number count-number-active
                              "
                            >
                              04
                            </p>
                            <span class="check-mark">
                              <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </span>
                          </div>
                          <h2 class="font-body--md-400">Return Completed</h2>
                        </div>
                      </div>

                  {{else}}
                        <div class="progress__bar progress__bar-2x">
                      <div class="progress__bar-border">
                        <span class="progress__bar-border-active"></span>
                      </div>


                      <div class="progress__bar-item active">
                        <div class="progress__bar-item-ball">
                          <p
                            class="
                              font-body--md-400
                              count-number count-number-active
                            "
                          >
                            01
                          </p>
                          <span class="check-mark">
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 20 20"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </span>
                        </div>
                        <h2 class="font-body--md-400">Order received</h2>
                      </div><div class="progress__bar-item active">
                        <div class="progress__bar-item-ball">
                          <p
                            class="
                              font-body--md-400
                              count-number count-number-active
                            "
                          >
                            02
                          </p>
                          <span class="check-mark">
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 20 20"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </span>
                        </div>
                        <h2 class="font-body--md-400">Return Requested</h2>
                      </div>
                      <div class="progress__bar-item">
                        <div class="progress__bar-item-ball">
                          <p class="font-body--md-400 count-number">03</p>
                        </div>
                        <h2 class="font-body--md-400">Return Approved</h2>
                      </div>
                      <div class="progress__bar-item ">
                        <div class="progress__bar-item-ball">
                          <p
                            class="
                              font-body--md-400
                              count-number count-number-active
                            "
                          >
                            04
                          </p>
                          <span class="check-mark">
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 20 20"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </span>
                        </div>
                        <h2 class="font-body--md-400">Return Completed</h2>
                      </div>
                    </div>

                  {{/if}}

                
                {{else}}




<!------------------------ Progress bar --------------------------->

                  {{#if order.delivered}}
                    <div class="progress__bar progress__bar-4x">
                  {{else}}
                    {{#if order.intransit}}
                      <div class="progress__bar progress__bar-.2x">

                    {{else}}
                        {{#if order.dispatched}}
                          <div class="progress__bar progress__bar-2x">
                        {{else}}
                          <div class="progress__bar progress__bar-1x">
                        {{/if}}
                    {{/if}}


                  {{/if}}
                  <div class="progress__bar-border">
                    <span class="progress__bar-border-active"></span>
                  </div>
                  <div class="progress__bar-item active">
                    <div class="progress__bar-item-ball">
                      <p
                        class="
                          font-body--md-400
                          count-number count-number-active
                        "
                      >
                        01
                      </p>
                      <span class="check-mark">
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M16.6663 5.83301L7.49967 14.9997L3.33301 10.833"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </div>
                    <h2 class="font-body--md-400">Order received</h2>
                  </div>
                  {{#if order.dispatched}}
                  <div class="progress__bar-item active">


                  {{else}}
                  <div class="progress__bar-item">

                  {{/if}}
                    <div class="progress__bar-item-ball">
                      <p class="font-body--md-400 count-number">02</p>
                    </div>
                    <h2 class="font-body--md-400">Processing</h2>
                  </div>
                  {{#if order.inTransit}}
                  <div class="progress__bar-item active">


                  {{else}}
                  <div class="progress__bar-item">

                  {{/if}}

                    <div class="progress__bar-item-ball">
                      <p class="font-body--md-400 count-number">03</p>
                    </div>
                    <h2 class="font-body--md-400">one the way</h2>
                  </div>
                  {{#if order.delivered}}
                  <div class="progress__bar-item active">


                  {{else}}
                  <div class="progress__bar-item">

                  {{/if}}

                    <div class="progress__bar-item-ball">
                      <p class="font-body--md-400 count-number">04</p>
                    </div>
                    <h2 class="font-body--md-400">Delivered</h2>
                  </div>
                </div>


<!------------------------ Progress bar --------------------------->

                {{/if}}




                


                <div
                  class="
                    dashboard__order-history-table
                    dashboard__order-history-table__product-content
                  "
                >
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Product
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Price
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            quantity
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Subtotal
                          </th>
                        </tr>
                      </thead>
                      <tbody>

                        {{#each order.items}}
                        <tr>
                          <!-- Product item  -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              align-middle
                            "
                          >
                            <a
                              href="product?id={{this.product._id}}"
                              class="dashboard__product-item"
                            >
                              <div class="dashboard__product-item-img" style="width: 140px; height:80px">
                                <img style="height:100%;width:100%"
                                  src="images/{{this.product.images.[0]}}"
                                  alt="product"
                                />
                              </div>
                              <h5 class="font-body--md-400">{{this.product.name}}</h5>
                            </a>
                          </td>
                          <!-- Price  -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              order-date
                              align-middle
                            "
                          >
                            Rs. {{this.rate}}
                          </td>
                          <!-- quantity -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              order-total
                              align-middle
                            "
                          >
                            <p class="order-total-price">x{{this.qty}}</p>
                          </td>
                          <!-- Subtotal  -->
                          <td
                            class="
                              dashboard__order-history-table-item
                              order-status
                              align-middle
                            "
                            style="text-align: left"
                          >
                            <p class="font-body--md-500">Rs. {{this.subtotal}}</p>
                          </td>
                        </tr>

                        {{/each}}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- dashboard Secton  End  -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  document.getElementById("invoice").addEventListener("click",async function(event){
    let data={}
    data._id=document.getElementById('_id').value
    const res=await fetch('/invoice-pdf',{
        method:'POST',
        headers:{
            'Content-Type':'application/json'
        },
        body: JSON.stringify(data)
    })
    if (res.ok) {
        const blob = await res.blob();
        const url = window.URL.createObjectURL(blob);
        window.open(url, '_blank'); 

        // const a = document.createElement('a');
        // a.href = url;
        // a.download = 'Sale Report.pdf';
        // document.body.appendChild(a);
        // a.click();
        // window.URL.revokeObjectURL(url);
        // a.remove();

        

    } else {
        console.error('Failed to generate PDF');
    }
  })
  
    document.getElementById("cancel").addEventListener("click", function(event) {
      const btnText=document.getElementById('cancel').innerText
      if(btnText=='Cancel Order'){
        if (confirm("Are you sure you want to cancel this order?")) {
            // User clicked "OK", proceed to navigate to the cancel URL
            window.location.href = "order-cancel?_id={{order._id}}";
        } else {
            // User clicked "Cancel", do nothing
        }

      }
      else{
        if (confirm("Are you sure you want to return the products?")) {
            // User clicked "OK", proceed to navigate to the cancel URL
            window.location.href = "order-cancel?_id={{order._id}}";
        } else {
            // User clicked "Cancel", do nothing
        }
      }
    });

    async function revise(_id){
      const resRz=await fetch('/razorpay',{
                        method:"post",
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify({_id})
                    })
                    try{
                      if(resRz){
                        const {order,RAZORID,name,email,phone}=await resRz.json()
    
                        var options = {
                            "key": RAZORID, // Enter the Key ID generated from the Dashboard
                            "amount": order.amount_due, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                            "currency": "INR",
                            "name": "Greenergy",
                            "description": "Test Transaction",
                            "image": "https://github.com/BellerOphoN697/templates/blob/main/shopery/main/src/images/favicon/android-chrome-512x512.png?raw=true",
                            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                            "handler": async function (response){
                                //alert(response.razorpay_payment_id);
                                console.log(response.razorpay_payment_id)
                                const res=await fetch(`/pay-id?id=${response.razorpay_payment_id}`,{
                                    method: "POST"
                                })
                                
                                    const url=await res.json()
                                    window.location.reload()
                                
                                //alert(response.razorpay_order_id);
                                //alert(response.razorpay_signature)
                            },
                            "prefill": {
                                "name": `${name}`,
                                "email": `${email}`,
                                "contact": `${phone}`
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#00b207"
                            }
                        };
                        console.log(options)
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                    }
                    }
                    catch{
                      console.log("Error")
                    }
    }
</script>
  