
    <!-- dashboard Secton Start  -->
    <div class="dashboard section">
      <div class="container">
        <div class="row dashboard__content">
         
                   {{> navbar}}


          <div class="col-lg-9 section--xl pt-0">
            <div class="container">
              <div style="margin-bottom: 30px;">
                <h3 style="margin-bottom:10px;">Wallet</h3>
                <p>{{message}}</p>
              </div>
              
              <div class="row shoping-cart__content">
          <div class="col-lg-8">
            <div class="cart-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="cart-table-title">Amount</th>
                      <th scope="col" class="cart-table-title">Type</th>
                      <th scope="col" class="cart-table-title">Date</th>
                      <th scope="col" class="cart-table-title">Balance</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
                    
                  </tbody>
                </table>
                <div class="dashboard__order-pagination">
                    <nav
                      aria-label="Page navigation pagination--one"
                      class="pagination-wrapper"
                    >
                      <ul class="pagination justify-content-center" id="pagin">
                        
                      </ul>
                    </nav>
                  </div>
              </div>
              <!-- Action Buttons  
              <form action="#">
                <div class="cart-table-action-btn d-flex">
                  <a
                    href="shop-01.html"
                    class="button button--md button--disable shop"
                    >Return to Shop</a
                  >
                  <a href="#" class="button button--md button--disable update"
                    >Update to Cart</a
                  >
                </div>
              </form>-->
            </div>

            <div class="shoping-cart__mobile">
              <div class="shoping-card">
                <div class="shoping-card__img-wrapper">
                  <img
                    src="src/images/products/img-01.png "
                    alt="product-item"
                  />
                </div>
                <h5 class="shoping-card__product-caption font-body--lg-400">
                  Green Apple
                </h5>

                <h6 class="shoping-card__product-price font-body--lg-400">
                  $45.00
                </h6>

                <div class="counter-btn-wrapper">
                  <button
                    class="counter-btn-dec counter-btn"
                    onclick="decrement()"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    id="counter-btn-counter"
                    class="counter-btn-counter"
                    min="0"
                    max="1000"
                    placeholder="0"
                  />
                  <button
                    class="counter-btn-inc counter-btn"
                    onclick="increment()"
                  >
                    +
                  </button>
                </div>
                <h6 class="shoping-card__product-totalprice font-body--lg-600">
                  $225.00
                </h6>
                <button class="close-btn">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 23C18.0748 23 23 18.0748 23 12C23 5.92525 18.0748 1 12 1C5.92525 1 1 5.92525 1 12C1 18.0748 5.92525 23 12 23Z"
                      stroke="#CCCCCC"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M16 8L8 16"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 16L8 8"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
              <div class="shoping-card">
                <div class="shoping-card__img-wrapper">
                  <img
                    src="src/images/products/img-02.png "
                    alt="product-item"
                  />
                </div>
                <h5 class="shoping-card__product-caption font-body--lg-400">
                  Fresh orange
                </h5>

                <h6 class="shoping-card__product-price font-body--lg-400">
                  $45.00
                </h6>

                <div class="counter-btn-wrapper">
                  <button
                    class="counter-btn-dec counter-btn"
                    onclick="decrement()"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    id="counter-btn-counter"
                    class="counter-btn-counter"
                    min="0"
                    max="1000"
                    placeholder="0"
                  />
                  <button
                    class="counter-btn-inc counter-btn"
                    onclick="increment()"
                  >
                    +
                  </button>
                </div>


                <h6 class="shoping-card__product-totalprice font-body--lg-600">
                  $225.00
                </h6>
                <button class="close-btn">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 23C18.0748 23 23 18.0748 23 12C23 5.92525 18.0748 1 12 1C5.92525 1 1 5.92525 1 12C1 18.0748 5.92525 23 12 23Z"
                      stroke="#CCCCCC"
                      stroke-miterlimit="10"
                    />
                    <path
                      d="M16 8L8 16"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 16L8 8"
                      stroke="#666666"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>

              <form action="#">
                <div class="cart-table-action-btn d-flex">
                  <a
                    href="shop-01.html"
                    class="button button--md button--disable shop"
                    >Return to Shop</a
                  >
                  <a href="#" class="button button--md button--disable update"
                    >Update to Cart</a
                  >
                </div>
              </form>
            </div>

           
          </div>

          <div class="col-lg-4">
            <div class="bill-card">
              <div class="bill-card__content">
                <div class="bill-card__header">
                  <h2 class="bill-card__header-title font-body--xxl-500">
                    Wallet Balance
                  </h2>
                </div>
                <div class="bill-card__body">
                  <!-- memo  -->
                  <div class="bill-card__memo">
                    {{!-- <!-- Subtotal  -->
                    <div class="bill-card__memo-item subtotal">
                      <p class="font-body--md-400">Subtotal:</p>
                      <span class="font-body--md-500" id="total">Rs. {{carts.total}}</span>
                    </div>
                    <!-- Shipping  -->
                    <div class="bill-card__memo-item shipping">
                      <p class="font-body--md-400">Shipping:</p>
                      <span class="font-body--md-500">Free</span>
                    </div> --}}
                    <!-- total  -->
                    <div class="bill-card__memo-item total">
                      <p class="font-body--lg-400">Total:</p>
                      <span class="font-body--xl-500" id="incltotal">Rs. {{wallet.balance}}</span>
                    </div>
                  </div>
                  {{!-- <a href="/checkout">
                    <button
                      class="button button--lg w-100"
                      style="margin-top: 20px"
                      type="submit"
                    >
                      Place Order
                    </button>
                  </a> --}}
                </div>
              </div>
            </div>
          </div>
        </div>


              


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- dashboard Secton  End  -->

  <script>
    document.addEventListener('DOMContentLoaded', () => {
    submitForm(1)
});

  async function submitForm(page) {
    let data = {}; // Assuming you intended to set the page as 10 here, not 1
    data.limit=5
    data.page=page
    const res=await fetch('/wallet-paging', {
        method: 'post',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) // Send data directly, without wrapping it
    });
    if(res.status==200){
    const {wallet,pages,action}=await res.json()
    console.log(wallet)
    document.getElementById('pagin').innerHTML=userPagination(page,pages)
    document.getElementById('tableBody').innerHTML=walletLoad(action)
    document.getElementById('incltotal').innerText=`Rs. ${action[0].current}`
    }
 
}

  

  function userPagination(page,pages){
    console.log(page,pages)
    let data =``
    

    data+=`<li class="page-item pagination-item">
    <a class="page-link pagination-link" onclick="submitForm(1)" tabindex="-1">
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.91663 1.16634L1.08329 6.99967L6.91663 12.833" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </li>
                `;
    for(i=1;i<=pages+5;i++){
            if(i==page){
                data+=`<li class="page-item pagination-item"><a class="page-link pagination-link active" onclick="submitForm(${i})">${i}</a></li>
                `
            }
            else{
                data+=`<li class="page-item pagination-item"><a class="page-link pagination-link " onclick="submitForm(${i})">${i}</a></li>
                `

            }
            
    };        
    
    data+=`       <li class="page-item pagination-item"> <a class="page-link pagination-link" onclick="submitForm(${pages})">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.08337 1.16634L6.91671 6.99967L1.08337 12.833" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </li>`;
    return data
}


    function walletLoad(wallet){
      let tableBody=''
      for(i=0;i<wallet.length;i++){
        tableBody+=`
        <tr>
                      
                      <!-- Price  -->
                      <td class="cart-table-item  align-bottom">
                        Rs. ${wallet[i].amount}
                      </td>
                      <td class="cart-table-item order-date align-middle">`
      if(wallet[i].credit){
        tableBody+=`Credit`
      }
      else{
        tableBody+=`Debit`
      }
      tableBody+=`
                      </td>
                      <td class="cart-table-item  align-bottom">
                        ${dateConvert(wallet[i].time)}
                      </td>
                      <td class="cart-table-item  align-bottom">
                        ${wallet[i].current}
                      </td>

                      <!-- quantity 
                      <td class="cart-table-item order-total align-middle">
                        <div class="counter-btn-wrapper products__content-action-item" style="margin-left: 10px; transform: scale(.8)">
                          <button class="counter-btn-dec counter-btn" onclick="removeFromCart('{{this.product._id}}')">-</button>
                          <p id="counter-btn-counter-{{this.product._id}}" class="counter-btn-counter" style="margin-left: 10px;">{{this.qty}}</p>
                          <button class="counter-btn-inc counter-btn" onclick="addToCart('{{this.product._id}}')">+</button>
                        </div>
                        <div class="text-danger" id="errmsg-{{this.product._id}}" >
                          
                        </div>
                      </td>

                      <!-- Subtotal 
                      <td class="cart-table-item order-subtotal align-middle">
                        <div
                          class="
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <p class="font-body--md-500" id="subtotal-{{this.product._id}}">Rs. {{this.subtotal}}</p>
                          <a href="/deleteFromCart?_id={{this.product._id}}">
                            <button class="delete-item">
                            <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M12 23.5C18.0748 23.5 23 18.5748 23 12.5C23 6.42525 18.0748 1.5 12 1.5C5.92525 1.5 1 6.42525 1 12.5C1 18.5748 5.92525 23.5 12 23.5Z"
                                stroke="#CCCCCC"
                                stroke-miterlimit="10"
                              />
                              <path
                                d="M16 8.5L8 16.5"
                                stroke="#666666"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M16 16.5L8 8.5"
                                stroke="#666666"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </button>
                          </a>
                        </div>
                      </td>-->
                    </tr>
        `
      }
      return tableBody
    }

    function dateConvert(str) {
    var date = new Date(str),
      mnth = ("0" + (date.getMonth() + 1)).slice(-2),
      day = ("0" + date.getDate()).slice(-2);
    return [day,mnth,date.getFullYear(),  ].join("/");
  }
  </script>